body{
  overflow-x: hidden;
}
:root{
  --yellow: #ffc102;
  --blue: #003a8c;
  --red: #c33c54;
  --jean-blue: #254e70;
  --gray-blue: #37718e;
  --gray: #3c3c3c;
}
.yellow{
  color: var(--yellow);
}
/*Navbar*/
.navbar{
  display: block;
  position: absolute;
  width: 100%;
  background-color: #3c3c3c;
  height: 120px;
}
.logo{
  display: inline-block;
  width: auto;
  height: 100%;
}
.logo > img{
  height: 100%;
}
.logoText{
    display: inline-block;
    position: absolute;
    color: white;
}
.logoText > h1{
  padding: 0px;
  margin: 0px;
  font-size: 300%;
}
.logoText > h3{
  margin: 0px;
  margin-top: 30px;
}
.sidebar{
    position: absolute;
    display: inline-block;
    right: -125px;
    top: 0px;
    width: 120px;
    background-color: var(--gray);
    border-left: 5px solid var(--yellow);
}
.topright{
    position: absolute;
    top: calc(120px / 4);
    right: 20px;
    width: 50px;
    height: 60px;
    cursor: pointer;
}
.sideTrigger{
  transition: all 50ms linear;
}
.sideTrigger:first-child{
  background-color: var(--yellow);
  width: 100%;
  height: 8px;
  margin-top:8px 
}
.sideTrigger:nth-child(2){
  background-color: var(--yellow);
  width: 80%;
  height: 8px;
  margin-top: 8px;
  margin-left: 10px;
}
.sideTrigger:nth-child(3){
  background-color: var(--yellow);
  width: 60%;
  height: 8px;
  margin-top: 8px;
  margin-left: 20px;
}
.topright:hover .sideTrigger{
  margin-left: 0px;
}